<script src="../../scripts/blinkImage.js"></script>
<div class="js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" lang="en">

    <div class="main page">
        <!-- Navbar -->
        <div class="navbar navbar-default" id="navbar">
            <div class="navbar-brand">
                <i class="icon-beer1"></i>
                <img class="toplogo" src="../contents/images/logo.png" />Online Test Tool
            </div>
            <ul class="nav navbar-nav pull-right">

                <li class="dropdown user">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <img class="loginuser-icon" src="../contents/images/icon-user.png" alt="icon-user" />
                        <strong>{{user.userName}}</strong>
                        <img class="img-rounded" src="../contents/images/logo.png" alt="logo" />
                        <b class="caret"></b>
                    </a>
                </li>
            </ul>
        </div>
        <div id="wrapper">
            <!-- Sidebar -->
            <section id="sidebar">
                <i id="toggle"> <img class="img-rounded1" src="../contents/images/menu-icon.png" width="28" height="28" alt="logo" /></i><i class="icon-dashboard1"></i>
                <ul id="dock">
                    <li class="active launcher">
                        <i class="icon-dashboard1"></i>  <img class="img-rounded" src="../contents/images/dashboard-icon.png" width="42" height="42" alt="logo" />
                    </li>
                </ul>

            </section>
            <!-- Tools -->
            <section id="tools">
                <ul class="breadcrumb" id="breadcrumb">
                    <li class="title">Dashboard</li>

                </ul>
                <div id="toolbar">

                    <div class="take-test">
                        <img id="myImg" src="../contents/images/take-test.png" ng-click="takeTest()" />
                    </div>
                </div>
            </section>
            <!-- Content -->
            <div id="content">
                <div class="dashboard-information3">
                    <h3>About SPI</h3>
                    <p>
                        Software Paradigms International Group, LLC (SPI), founded in 1994, is an award winning IT services and solutions provider for retailers around the globe. SPI's mission is to be The Right Retail Partner. SPI is headquartered in Atlanta, GA with offices in Australia, Brazil, Canada and Singapore, with development centers in India and Nepal.

                        SPI is helping retailers transform the retail value chain from silos to customer centric Omni-Channel agile organizations. SPI offers complete Retail IT solutions and services including mobility, eCommerce, integration, consulting, merchandising, analytics, vendor management, and infrastructure.
                    </p>

                </div>
                <div class="dashboard-information">
                    <h3>Warehouse Management Services</h3>
                    <p>
                        Satisfy today's consumer demands and thrive in a dynamic marketplace.

                        Today's retail environment requires fast, flexible order fulfillment. SPI's Warehouse Management Services (WMS) deliver solutions for transitioning to and optimizing a multi-channel platform, helping distributors and retailers meet the evolving needs of today's consumer.



                        EXPERIENCED RESOURCES. SPI's team of functional and technical WMS resources stand ready to tackle any deployment, evaluation or maintenance issue.



                        FULL SCOPE. Our consulting team provides expert guidance at multiple levels, from assistance with upgrades to complete WMS system configuration.



                        CUSTOMIZED. SPI offers retailers a boutique IT service experience, delivering insights and solutions custom-tailored to their leading WMS system.



                        RETAIL SPECIFIC. SPI services retail clients with 3PM and 4PL providers to address sourcing consolidations and multi-channel order fulfillment.
                    </p>


                </div>
                <!-- second contetn -->
                <div class="dashboard-information1">
                    <h3>Retail Solutions</h3>
                    <p>
                        Retail companies need technologies that will transform its business processes, ensuring key players have
                        immediate access to data and applications required to make faster and informed decisions. Each day retail
                        executives are seeking to transform their organizations processes and infrastructure to enable more flexible, cost-effective business solutions.

                        SPI offers a unique and proven suite of omni-channel solutions that help companies achieve retail value chain
                        transformation. Delivering visibility and insights that are needed to improve performance and meet market challenges,
                        SPI software solutions eliminate traditional and cumbersome manual approaches to retail operations including
                        merchandising planning, recovery audit, vendor management and more. Actionable data is provided through powerful analytics
                        to provide executive management with insights to improve decision-making and gain competitive advantage.
                    </p>
                </div>
                <!-- third content -->
                <div class="dashboard-information2">
                    <h3>Prime Digital Retail</h3>
                    <p>
                        Our platform currently power over 150 ecommerce sites in 30+ countries for Fortune 500 companies and below. Our open-source and well thought-out architecture has provided us and our clients with the capability to quickly and easily add in and modify features to meet their requirements and get sites to market faster than the competition.

                        Services Offered:

                        <ul>
                            <li>  Ecommerce Platform and Consulting </li>
                            <li>  Mobile Commerce Development and Strategy</li>
                            <li>  Digital services - including design, IA, software development, project management and QA</li>
                            <li>  Testing Services to support the Digital software development methodologies</li>
                            <li>  Infrastructure/Hardware to support Digital Retail</li>
                        </ul>
                    </p>

                </div>

            </div>
            <!-- Footer -->

        </div>

    </div>


</div>


