<div class="jumbotron">
    <h2>SPI - Software Paradigms International</h2>
    <p class="lead">Software Paradigms International Group, LLC (SPI), founded in 1994, is an award winning IT services and solutions provider for retailers around the globe. SPI's mission is to be The Right Retail Partner. SPI is headquartered in Atlanta, GA with offices in Australia, Brazil, Canada and Singapore, with development centers in India and Nepal.</p>
    <p><a href="http://www.spi.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
